.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}
.grid-container {
    width: 10px;
}
body {
    margin: 40px;
}
.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 150%;
    letter-spacing: 5px;
}
body {
    margin: 40px;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    background-color: #fff;
    color: #444;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.a {
    grid-column: 1 / 3;
    grid-row: 1;
}
.b {
    grid-column: 3;
    grid-row: 1 / 3;
}
.c {
    grid-column: 1;
    grid-row: 2;
}
.d {
    grid-column: 2;
    grid-row: 1;
}
.a {
    grid-column: col / span 2;
    grid-row: row;
}
.b {
    grid-column: col 3 / span 2;
    grid-row: row;
}
.c {
    grid-column: col;
    grid-row: row 2;
}
.d {
    grid-column: col 2 / span 3;
    grid-row: row 2;
}
.e {
    grid-column: col / span 4;
    grid-row: row 3;
}
.a {
    grid-column: col / span 2;
    grid-row: row;
}
.b {
    grid-column: col 3 / span 2;
    grid-row: row;
}
.c {
    grid-column: col;
    grid-row: row 2;
}
.d {
    grid-column: col 2 / span 3;
    grid-row: row 2;
}
.e {
    grid-column: col / span 4;
    grid-row: row 3;
}
a {
    grid-column: col / span 2;
    grid-row: row;
}
.b {
    grid-column: col 3 / span 2;
    grid-row: row;
}
.c {
    grid-column: col;
    grid-row: row 2;
}
.d {
    grid-column: col 2 / span 3;
    grid-row: row 2;
}
.e {
    grid-column: col / span 4;
    grid-row: row 3;
}
.a {
    grid-column: 1 / 3;
    grid-row: 1;
}
.b {
    grid-column: 3;
    grid-row: 1 / 3 ;
}
.c {
    grid-column: 1;
    grid-row: 2;
}
.d {
    grid-column: 2;
    grid-row: 2;
}
.e {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-auto-columns: 100px;
    background-color: #fff;
    color: #444;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.btn:hover {
    background-color: #333;
    color: #777;
}
.a {
    grid-column: 1 / 3;
    grid-row: 1;
}
.b {
    grid-column: 3;
    grid-row: 1 / 3;
}
.c {
    grid-column: 2;
    grid-row: 2;
}
.d {
    grid-column: 2;
    grid-row: 2;
}
.e {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}
body {
    margin: 40px;
}
.sidebar {
    grid-area: sidebar;
}
.sidebar-2 {
    grid-area: sidebar2;
}
.content {
    grid-area: content;
}
.header {
    grid-area: header;
}
.footer {
    grid-area: footer;
}
.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer";
}
@media only screen and (min-width: 500px) {
    .wrapper {
        grid-template-columns: 20% auto;
        grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar2 sidebar2"
        "footer footer";
    }
}
@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas: 
        "header header header"
        "sidebar content sidebar2"
        "footer footer footer";
        max-width: 600px;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}
h2 span {
    font-size: 30px;
}
p {
    font-size: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.container > div {
    cursor: pointer;
    height: 230px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
}
.container > div:hover {
    opacity: 0.7;
    transform: scale(0.90);
}
.container > div:nth-of-type(1) {
    grid-column: 1 / 3;
}
.container > div:nth-of-type(6) {
    grid-column: 3 / 5;
}
.container > div:nth-of-type(10) {
    grid-column: 1 / 3;
}
.bg1 {
    background: url('longurlstingfirelink');
}
.bg2 {
    background: url('https://ibb.jqueryccss');
    color: #333;
}
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}
body {

    background: #ccc;

    margin: 30px 50px;
    line-height: 1.4;
}
.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
img {
    max-width: 100%;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
}
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover {
    background: var(--dark);
    color-interpolation-filters: var(--light);
}
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "showcase showcase top box-a"
    "showcase showcase top-box-b";
}
.showcase {
    grid-area: showcase;
    min-height: 4000px;
    background: url('https://image.ibb.co');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}
.showcase p {
    font-size: 4rrem;
    margin-bottom: 0;
    color: var(--light);
}
.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box .price {
    font-size: 2.5rem;
}
.top-box-a {
    grid-area: top-box-a;
}
.top-box-b {
    grid-area: top-box-b;
}
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}
footeer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
@media (man-width: 700px) {
    .top-containeer {
        grid-template-columns: ;
    }
}
:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51,  0.85);
    --meenu-speed: 0.75s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
.container {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}
.shocase:before {
    content: '';
    background: url('https://images.pixels.com');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.showcase h1 {
    font-size: 4rem;
}
.showcase p {
    font-size: 1.3rem;
}
.btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5ren;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}
.btn:hover {
    opacity: 0.7;
}
.menu-wrap {
    position: 0.7;
}
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .hamburger > iv:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrao .hamburger >div:after {
    top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > dov:before,
.menu-wrap .toggler:checked + hamburger > dov:after {
    top: 0;
    transform: rotate(40deg);
}
.menu-wrap .toggler:checked:hover + hamburger > dov {
    transform: rotate(225deg);
}
.menu-wrap .toggler:checked, .menu {
    visibility: visible
}
.menu-wrap .toggler:checked,  menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked, .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
@media (max-width: 700px) {
    .top-container {
        grid-template-columns: 
        "showcase showcase"
        "top box-a top-box -b";
    }
    .showcase h1 {
        font-size: 2.5rem;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}
@media (max-width: 500px) {
    .top-container {
        grid-template-areas: {
            'sshowcasde'
            'top-box-a'
            'top-box-b'
        }
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.container > div {
    cursor: pointer;
    height: 210px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
}
.container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}
.container > div:nth-of-type(1) {
    grid-column: 1 /3;
}
.container > div:nth-of-type(6) {
    grid-column: 3 /5;
}
.container > div:nth-of-type(5) {
    grid-column: 3 / 5;
}
.container > div:nth-of-type(6) {
    grid-column: 1 / 3;
}
.bg1 {
    background: url('https;?i.bbi');
}
.bg2 {
    background: url('https://');
    color: #333;
}
.container  {
    display: grid;
    width: 750px;
    height: 600px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap: 1rem;
    grid-template-columns: 80px 1fr 1fr 100px;
    grid-gap: 1rem;
    grid-template-areas:
    'header header header'
    "sidebar content-1 conteent-1"
    "sidebar content-2 content-3"
    "footer foter footer"
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
}
.content-1 {
    grid-area: content-1;
}
.content-2 {
    grid-area: content-2;
}
.content-3 {
    grid-area: content-3;
}
.footer {
    grid-area: footer;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}
.contain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.archive {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-gap: 32px;
    grid-auto-flow: dense;
}
.article:nth-child(31n + 1) {
    grid-column: 1 / -1;
}
.article:nth-child(16n + 2) {
    grid-column: -3 / -1;
}
.article:nth-child(16n + 18) {
    grid-column: 1 / -1;
}
